@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

$main-font: 'Poppins', sans-serif;
$main-font-size: 15px;
$font-light: 200;
$font-regular: 400;
$font-bold: 600;
